body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(22, 31, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

.landing-container {
    position: relative; /* Set the container as a relative positioning reference */
    text-align: center;
    z-index: 1; /* Set a higher z-index to keep it above the background */
}

.center-image {
    max-width: 80%; /* Reduce the size of the image */
    height: auto;
    display: block;
    margin: 0 auto;
}

.coming-soon-text {
    font-size: 24px;
    margin-top: 10px; /* Adjust the margin for better spacing */

    /* Overlay styles */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

/* Apply a semi-transparent background to the entire page */
.background-pattern {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 135%;
    height: 135%;
    background-color: rgb(22, 31, 50);
    opacity: 0.5;
    z-index: 0; /* Send the background behind everything else */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .center-image {
        max-width: 90%;
    }

    .coming-soon-text {
        font-size: 20px;
    }

    .background-pattern {
        font-size: 16px; /* Decrease the background text size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .center-image {
        max-width: 95%;
    }

    .coming-soon-text {
        font-size: 18px;
    }

    .background-pattern {
        font-size: 12px; /* Further decrease the background text size for extra small screens */
    }
}

@media screen and (max-height: 600px) {
    .center-image {
        max-height: 70vh; /* Decrease the max-height for shorter screens */
    }

    .coming-soon-text {
        margin-top: 5px; /* Reduce the top margin for better spacing on shorter screens */
    }

    .background-pattern {
        font-size: 12px; /* Adjust the background text size for shorter screens */
    }
}
